.fullSize {
    height: 100%;
    width: 100%;
}

.eastPanel {
    background-color: #F60;
}

.westPanel {
    background-color: #EEE;
}

.northPanel {
    background-color: #39F;
    border-color: blue;
    border-width: 5px;
}

.southPanel {
    background-color: #99C;
}

.centerPanel {
    background-color: #FFC;
}